.editor-toolbar__primary,
.editor-toolbar__secondary {
  display: flex;
  align-items: center;
  gap: 4px;
}

.editor-toolbar__primary--mobile {
  display: none;
}

@media (max-width: 900px) {
  .editor-toolbar__primary--desktop,
  .editor-toolbar__secondary {
    display: none;
  }

  .editor-toolbar__primary--mobile {
    display: grid;
  }
}
